<?xml version='1.0' encoding='utf-8'?>
<widget id="at.gofg.sportscomputer" version="1.5.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GOFG Dev</name>
    <description>
        GOFG Sports Computer.
    </description>
    <author email="viras@users.sourceforge.net" href="http://gofg.at">
        Wolfgang Koller
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <content src="index.html" />
</widget>
