[S3E] 
MemSize=12000000
MemSizeDebugDevice=12000000

# These lines specify a splash screen to display while the s3e file is loaded
SplashscreenBkR=255
SplashscreenBkG=255
SplashscreenBkB=255
Splashscreen=splash.jpg
SplashscreenWidth=160
SplashscreenHeight=160

# Save data on SDCard by default
AndroidUseSdcard=1

[GX]
DataCacheSize=256000
NumTPages=32
